<!--
<footer>
	<p>&copy; 2015 Company, Inc.</p>
</footer>
-->
<footer>
	<div id="footer" class="container">
	    <nav class="navbar navbar-default navbar-fixed-bottom text-center">
	        <div class="navbar-inner navbar-content-center">

	            <p class="text-muted credit">
	            	Built by <a href="#">Juneyoung Oh</a>, 2016<br>
	            	Udemy course guided by Arash.<br>
	            	
	            </p>
	        </div>
	    </nav>
	</div>
</footer>