<% layout('layout') -%>

<!-- Do not know why did not put this on layout.ejs -->
<div class='container'>

	<div class='row'>
		<div class='col-sm-6 col-md-4'>
			<img class='img-circle img-responsive img-center' src="<%= user.profile.picture %>">
			<br>
			<p>Name : <%= user.profile.name %></p>
			<p>Email : <%= user.email %></p>
			<p>Address : <%= user.address %></p>
		</div>
	</div>
</div>